* {
  box-sizing: border-box;
}
body{
  min-width: 900px;
}
.header {
  height: 200px;
  width: 100%;
  float: left;
  background-color: red;
}
.footer {
  height: 200px;
  width: 100%;
  float: left;
  background-color: blue;
}
.chatList {
  float: left;
  background-color: green;
  height: 500px;
  width: 25%;
}
.content {
  float: right;
  background-color: gray;
  height: 500px;
  width: 75%;
}
.textContainer {
  height: 50px;
  width: 100%;
  margin: 450px 0px;
  background-color: gray;
}
.EnterTextBox {
  float:left;
  height: 50px;
  width: 80%;
  border: 1px solid black;
  margin: 0px 0px;
  background-color: white;
  padding-top: 7px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 5px;
}
.logo {
  border-radius: 19px;
  margin-left: 10px;
  margin-top: 10px;
}

.SubmitButton {
  position: relative;
  float: left;
  margin-top: 10px;
  height: 32px;
  margin-left: 4px;
  font-size: 20px;
  border-radius: 3px;
  background-color: aquamarine;
}
